
/*Start of Desktop part*/
body{
    font-family: 'Raleway', sans-serif;
    width : auto;
    height: auto;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

    /*Header*/

header{
    background-image: url("images/logo/Reservia.svg");
    background-repeat: no-repeat;
    background-position-y: 50px;
    margin: 0px 100px 0px 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

.register1{
    display: none;
}

.register2 a{
    color: #0065FC;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 900;
}

.lodgings_anchor a{
    color: #0065FC;
    text-decoration: none;
    border-top: solid 2px #0065FC;
    padding: 50px;
    padding-top: 68px;
}

.activities_anchor a{
    color: black;
    text-decoration: none;
    padding: 50px;
    padding-top: 50px;
}

.activities_anchor a:hover{
    color: #0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 68px;
}

header h1{
    font-size: 30px;
    margin: 0px;
    margin-top: 50px;
}

header p{
    margin: 0px;
    margin-top: 15px;
    font-size: 20px;
}
    /*Search bar*/

.search{
    margin-top: 30px;
}

.search form{
    display: flex;
}

.search_icon{
    background-color: #F2F2F2;
    border: #F2F2F2 2px solid;
    border-radius: 20px 0px 0px 20px;
    font-size: 1.6em;
    padding: 0.7em 0.9em 0.7em 0.9em;
}
.search_bar{
    border: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    outline: none;
    padding-left: 1em;
}

.search_button{
    display: block;
    display: flex;
    background-color:#0065FC;
    border:#0065FC solid 2px;
    border-radius: 0px 20px 20px 0px;
    color:white;
    font-size: 1.6em;
    padding: 0em 1em 0em 1em;
}

.search_button2{
    display: none;
}
    /*Filters*/

#filters{
    margin: 30px 100px 0px 100px;
    display: flex;
    height: auto;
    width: auto;
    justify-content:flex-start;
}

#filters h2{
    font-weight: 900;
    margin-right: 40px;
    font-size: 25px;
}

.filter_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filterbox{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.filterbox:hover label{
    color: white;
    background-color: #0065FC;
    border: #0065FC solid 4px;
}
.filterbox:hover input{
    color: #0065FC;
}

.filterbox label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 48px;
    width: 48px;
    color: #0065FC;
    border: #DEEBFF solid 4px;
    background-color: #DEEBFF;
    border-radius: 100%;
    z-index: 2;
}
.filterbox input{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    background-color:white ;
    border: lightgray solid 2px;
    border-left: none;
    border-radius: 0em 2em 2em 0em;
    margin: 10px;
    margin-left: -30px;
    padding: 11px 20px 11px 45px;
    z-index: 1;

    /*Info*/
}
#info{
    margin: 20px 100px 0px 100px;
    display: flex;
    height: auto;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
#info i{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 25px;
    height: 25px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 100px;
}

#info h2{
    font-weight: normal;
    margin-left: 15px;
    font-size: 20px;
}

    /*Lodgings*/

#lodgings{
    margin: 0px 100px 100px 100px;
    display: flex;
    flex-direction: row;

}

.lodgings h2{
    font-size: 28px;
    font-weight: 900;
    margin:40px 0px 0px 50px;
}

#lodgings h3{
    font-size: 20px;
    font-weight: 900;
    margin: 2px;
}

#lodgings p{
    font-size: 20px;
    margin: 0px
}

#lodgings h4{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 22px;
    font-weight: 900;
}

.star{
    margin-top: 5px;
    font-size: 20px;
}

.bluestar{
    color: #0065FC;
}

.greystar{
    color: #DEEBFF;
}

    /*Lodgings Part*/

.lodgings{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#F2F2F2;
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    margin-right: 50px;
    align-content:center ;
}

.lodgingslinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 50px;
}

.lodgingstxt{
    flex-direction: column;
    background-color: white;
    margin: 10px;
    height : 76px;
    width: 290px;
}

.lodgings_a{
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    margin: 0px 31px 31px 0px;
    width: 290px;
    height: 240px;
    background-color: white;
    border: white 5px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 15px lightgrey;
    justify-content: flex-end;
    overflow: hidden;
}

.lodgings1{
    height: 144px;
    overflow:hidden;
}

.lodgings1 img{
    width: 308px;
    margin-top: -32px;
    margin-left: -15px;
}

.lodgings2{
    height: 144px;
    overflow: hidden;
}

.lodgings2 img{
width: 300px;
margin-top: -30px;
}

.lodgings3{
    height: 144px;
    overflow: hidden;
}

.lodgings3 img{
    width: 300px;
    margin-top: -30px;
    margin-left: -5px;
}

.lodgings4{
    height: 144px;
    overflow: hidden;
}

.lodgings4 img{
    width: 300px;
    margin-top: -70px;
    margin-left: -7px;
}

.lodgings5{
    height: 144px;
    overflow: hidden;
}

.lodgings5 img{
    width: 398px;
    margin-top: -15px;
}

.lodgings6{
    height: 144px;
    overflow: hidden;
}

.lodgings6 img{
    width: 295px;
    margin-top: -150px;
}

    /*Most Popular Part*/

.popular{
    background-color:#F2F2F2;
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.popular_head{
    display: flex;
    font-size: 20px;
    font-weight: 900;
    margin: 10px 40px;
    align-items: center;
    justify-content: space-between;
}

.fa-chart-line{
    font-weight: 900 !important;
    font-size: 27px;
}


.popular_a{
    display: flex;
    color: black;
    margin: 0px 50px 50px 50px;
    background-color: white;
    border: white 5px solid;
    text-decoration: none;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 420px;
    height: 150px;
    box-shadow: 2px 2px 15px lightgrey;
    overflow: hidden;
}

.popular_link{
    margin: 10px;
    flex-direction: column;
    background-color: white;

}

.popular_txt{
    margin-bottom:30px;
}

.popular1{
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.popular1 img{
    width: 240px;
    margin-top: -5px;
    margin-left: -45px;
}

.popular2{
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.popular2 img{
    width: 220px;
    margin-top: -5px;
    margin-left: -35px;
}

.popular3{
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.popular3 img{
    width: 160px;
    margin-top: -50px;
    margin-left: -5px;
}

    /*Activities*/

#activities{
    margin: 0px 100px 100px 100px;
    display: flex;
    flex-direction: column;

}

#activities h2{
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 30px;
}

#activities h3{
        font-size: 20px;
        font-weight: 900;
        padding: 15px;
        margin: 0px;
        border-radius: 0px 0px 19px 19px;
        background-color: white;
}

.activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activity_a{
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    flex-wrap: nowrap;
    width: 350px;
    box-shadow: 2px 2px 15px lightgrey;
    margin-bottom: 50px;
    overflow: hidden;
}

.activities_column{
    display: flex;
    flex-direction: column;
}

.activity1{
    height: 554px;
    overflow: hidden;
}

.activity1 img{
    width: 875px;
    margin-left: -280px;
}

.activity2{
    height: 270px;
    overflow: hidden;
}

.activity2 img{
    width: 350px;
    margin-top: -120px;
}

.activity3{
    height: 180px;
    overflow: hidden;
}

.activity3 img{
    width: 350px;
    margin-top: -20px;
}

.activity4{
    height: 554px;
    overflow: hidden;
}

.activity4 img{
    width: 835px;
    margin-left: -230px;
}

.activity5{
    height: 220px;
    overflow: hidden;
}

.activity5 img{
    width: 350px;
}

.activity6{
    height: 230px;
    overflow: hidden;
}

.activity6 img{
    width: 350px;
}
    /*Footer*/

footer{
    padding: 20px 100px 100px 100px;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #F2F2F2;
}

footer div{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    flex: auto;
}

footer a{
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

footer h2{
    font-size: 25px;
}

/*End of Desktop part*/

@media screen and (max-width: 1024px){ /*Start of Tablet part*/

body{
    display: flex;
    flex-direction: column;
}

/*Header*/

header{
    flex-direction: column;
    justify-content: unset;
    margin: 0px;
    font-size: 25px;
    background-position-x: 25px;
}

.header{
    display: flex;
    flex-direction: column;
    align-self: unset;
    width: 100%;
}

.nav{
    text-align: right;
    display: block;
}

.register1{
display: inline-block;
margin-top: 50px;
margin-right: 50px;
}

.register1 a{
    text-decoration: none;
    color: #0065FC;
    font-weight: 900;
}

.register2{
    display: none;
}

.lodgings_anchor{
    display: flex;
    width: 50%;
    border-bottom: solid 2px #0065FC;
    justify-content: center;
}

.activities_anchor{
    display: flex;
    width: 50%;
    border-bottom: solid 2px #F2F2F2;
    justify-content: center;
}


.lodgings_anchor a{
    color: #0065FC;
    text-decoration: none;
    border-top: none;
    padding: 0px;
    padding-bottom: 10px;
}

.activities_anchor a{
    text-decoration: none;
    border-top: none;
    padding: 0px;
    padding-bottom: 10px;
}

.activities_anchor:hover{
    border-bottom: solid 2px #0065FC;
    color: #0065FC;
}

.activities_anchor a:hover{
    border-top: none;
    padding-top: 0px;
}

header h1{
    margin: 50px 25px 0 25px;
}

header p{
    margin: 10px 25px;
}

/*Search bar*/

.search{
    margin: 50px 10px;
}

.search form{
    justify-content: center;
}

.search label{
    font-size: 25px;
}

.search_bar{
    margin-right: -20px;
    font-size: 25px;
    padding-right: 200px;
}

.search_button{
    display: none;
}

.search_button2{
    display: flex;
    background-color:#0065FC;
    border:#0065FC solid 2px;
    border-radius: 20px;
    color:white;
    font-size: 25px;
    padding: 0px 20px 0px 20px;
    align-items: center;
}


    /*Filters*/

#filters{
    margin: 0 25px;
    flex-direction: column;
}

    /*Info*/

#info{
    margin: 0 25px;
}
    /*Lodgings*/

#lodgings{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

    /*Lodgings part*/

.lodgings{
    margin: 20px;
    height: auto;
    width: auto;
    align-items: center;
    }

#lodgings h4{
    margin: 25px;
}

.lodgings h2{
    margin: 40px 0px 40px 0px;
}

.lodgingslinks{
    margin: 0 25px;
    justify-content: center;
}

.lodgings_a{
    margin: 10px;
    width: 275px;
}


    /*Most popular part*/

.popular{
    align-items: center;
    margin: 20px;
}

.popular_head{
    width: 360px;
}

.popular_a{
    margin: 30px;
    width: 360px;
    height: 140px;
}

.popular1{
    height: 140px;
    width: 140px;
}

.popular2{
    height: 140px;
    width: 140px;
}


.popular3{
    height: 140px;
    width: 140px;
}
    /*Activities*/

#activities{
    margin: 0 25px;
    align-items: center;
}

    /*footer*/

footer{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

}
/*End of Tablet part*/

@media screen and (max-width: 425px){ /*Start of Mobile part*/

body{
    justify-content: center;
}

    /*Header*/

header{
    background-position-y: 20px;
    font-size: 20px;
}

header h1{
    font-size: 24px;
}

header p{
    margin-top: 10px;
    font-size: 17px;
}

.register1{
    margin-top: 30px;
    margin-right: 25px;
}

    /*Search bar*/
.search_bar{
    padding-right: 20px;
}

.search label{
    font-size: 20px;
}

.search_bar{
    font-size: 20px;
}

.search_button2{
    font-size: 20px;
    padding: 0 16px;
}
    /*Filters*/

#filters h2{
    font-size: 20px;
}

.filterbox{
    margin-right: 0px;
}

.filterbox label{
    font-size: 15px;
    width: 37px;
    height: 37px;
}

.filterbox input{
    font-size: 15px;
    margin-left: -20px;
    padding-left: 30px;
}

    /*Info*/

#info h2{
    font-size: 15px;
}

#info i{
    width: 35px;
}

    /*Lodgings*/
#lodgings h3{
    font-size: 15px;
    margin: 0;
}

#lodgings h4{
    font-size: 15px;
    width: 330px;
}

#lodgings p{
    font-size: 15px;
}

.star{
    font-size: 12px;
}
    /*Lodgings part*/

.lodgings{
    margin: 0 0 20px 0;
    border-radius: 0;
    background: none;
    border: none;
}

.lodgings h2{
    font-size: 20px;
    width: 330px;
}

.lodgingslinks{
    margin: 0;
}
.lodgings_a{
    width: 330px;
    height: 190px;
}

.lodgings1 img{
    width: 350px;
    margin-top: -65px;
}

.lodgings2 img{
    width: 330px;
    margin-top: -75px;
}

.lodgings3 img{
    width: 335px;
    margin-top: -60px;
}

.lodgings4 img{
    width: 340px;
    margin-top: -105px;
}

.lodgings5 img{
    width: 330px;
    margin-top: -35px;
}

.lodgings6 img{
    width: 330px;
    margin-top: -200px;
}
    /*Most popular part*/

.popular{
    margin: 20px 0;
    border-radius: 0;
}

.popular_head{
    width: 290px;
    font-size: 15px;
}

.popular_a{
    width: 330px;
    height: 130px;
    margin: 20px 0;
}

.popular1{
    width: 130px;
    height: 130px;
}

.popular2{
    width: 130px;
    height: 130px;
}

.popular3{
    width: 130px;
    height: 130px;
}

    /*Activities*/

#activities h2{
    font-size: 20px;
    width: 340px;
}

.activity1{
    height: 170px;
}

.activity1 img{
    margin-left: 0;
    margin-top: -45px;
    width: 350px;
}

.activity2{
    height: 170px;
}

.activity2 img{
    margin-left: 0;
    margin-top: -190px;
    width: 350px;
}

.activity3{
    height: 170px;
}

.activity3 img{
    margin-left: 0;
    margin-top: -40px;
    width: 350px;
}

.activity4{
    height: 170px;
}

.activity4 img{
    margin-left: 0;
    margin-top: -40px;
    width: 350px;
}

.activity5{
    height: 170px;
}

.activity5 img{
    margin-left: 0;
    margin-top: -25px;
    width: 350px;
}

.activity6{
    height: 170px;
}

.activity6 img{
    margin-left: 0;
    margin-top: -55px;
    width: 350px;
}

    /*footer*/

footer h2{
    font-size: 20px;
}

footer a{
    font-size: 15px;
}

}/*End of Mobile part*/

@media screen and (max-width: 375px){
    .search_bar{
        width: 260px;
    }
}