
body{
    font-family: 'Raleway', sans-serif;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : auto;
    height: 10%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 30%;
    height: 10%;
    align-items: flex-end;
}

.menu a{
    color: black;
    text-decoration: none;
}

#search form{
    display: flex;
}

#search label{
    background-color: #F2F2F2;
    border: #F2F2F2 2px solid;
    border-radius: 10px 0px 0px 10px;
    font-size: 120%;
    padding: 0.8em;
    padding-right: 1em;
}
.search{
    border: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    font-size: 120%;
    margin: -10px;
    padding: 0.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.input{
    background-color:#0065FC;
    border:#0065FC solid 2px;
    border-radius: 0px 10px 10px 0px;
    color:white;
    font-size: 120%;
    padding: 0.8em;
}

#filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#filters p{
    margin: 0%;
}

#filters div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#filter div:hover{
    background-color: #0065FC;
}
#filters div label{
    border: #DEEBFF solid 2px;
    background-color: #DEEBFF;
    border-radius: 100%;
}
#filters div input{
    background-color:white ;
    border: #F2F2F2 solid 2px;
    border-left: none;
    border-radius: 0em 2em 2em 0em;
    margin: 0px 0px 0px 0px;
}

.eco:hover{
    color: #0065FC;
}

.family:hover{
    color: #0065FC;
}

.romance:hover{
    color: #0065FC;
}

.animal:hover{
    color: #0065FC;
}

#info{
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
#info i{
    border: #F2F2F2 solid 2px;
    border-radius: 100%;
}