
body{
    font-family: 'Raleway', sans-serif;
    width : auto;
    height: auto;
}

header{
    margin: 50px 50px 0px 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    display: flex;
    width : 30%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.menu a{
    color: black;
    text-decoration: none;
}

#search form{
    margin: 0px 50px 0px 50px;
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: nowrap;
}

#search label{
    background-color: #F2F2F2;
    border: #F2F2F2 2px solid;
    border-radius: 10px 0px 0px 10px;
    font-size: 120%;
    padding: 0.8em;
    padding-right: 1em;
}
.search{
    border: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    font-size: 120%;
    margin: -10px;
    padding: 0.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.input{
    background-color:#0065FC;
    border:#0065FC solid 2px;
    border-radius: 0px 10px 10px 0px;
    color:white;
    font-size: 120%;
    padding: 0.8em;
}

#filters{
    margin: 0px 50px 0px 50px;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

#filters p{
    font-weight: bolder;
    margin-right: 10px;
}

#filters div{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
}
#filters div label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 32px;
    width: 32px;
    color: #0065FC;
    border: #DEEBFF solid 2px;
    background-color: #DEEBFF;
    border-radius: 100%;
    z-index: 2;
}
#filters div input{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    background-color:white ;
    border: #F2F2F2 solid 2px;
    border-left: none;
    border-radius: 0em 2em 2em 0em;
    margin: 10px;
    margin-left: -17px;
    padding: 8px;
    padding-left: 25px;
    z-index: 1;
}

.eco:hover{
    color: #0065FC;
}

.family:hover{
    color: #0065FC;
}

.romance:hover{
    color: #0065FC;
}

.animal:hover{
    color: #0065FC;
}

#info{
    margin: 0px 50px 0px 50px;
    display: flex;
    height: auto;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
#info i{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 17px;
    height: 17px;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 100px;
}

#info p{
    margin: 15px;
    font-size: 15px;
}

#lodgings{
    margin: 0px 50px 50px 50px;
    display: flex;
    flex-direction: row;

}
#lodgings h2{
    font-size:larger;
    font-weight: bolder;
    margin: 2px;
}

#lodgings p{
    margin: 2px;
    font-size: medium;
}

#lodgings h3{
    font-size: medium;
    font-weight: bolder;
    margin: 2px;
}

#lodgings div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lodgings{
    background-color:#F2F2F2;
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    margin-right: 20px;
}

.popular{
    background-color:#F2F2F2;
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.popular a{
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    background-color: white;
    border: white 1px solid;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    box-shadow: 2px 2px 15px lightgrey;
}

.lodgings a{
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    width: 200px;
    height: 200px;
    background-color: white;
    border: white 1px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 15px lightgrey;
}


.lodgings img{
    height: 20px;
    width: 20px;
    border-radius: 20px 20px 0px 0px;
}

.popular img{
    height: 100px;
    width: 110px;
    border-radius: 20px 0px 0px 20px;
}

.star{
    background-color: white;
    border-radius: 20px;
}
#lodgings #bluestar{
    color: #0065FC;
}

#lodgings #greystar{
    color: #DEEBFF;
}

footer{
    padding: 10px 50px 50px 50px;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #F2F2F2;
}

footer div{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    flex: auto;
}

footer a{
    color: black;
    text-decoration: none;
}

footer h2{
    font-size: 90%;
}
